/__history
/Android
/Android64
/Win32
/classes/__history/
/Admin/__history
/Admin/Android
/Admin/Android64
/Admin/Win32
/PDA ADMIN/__history
/PDA ADMIN/Android
/PDA ADMIN/Android64
/PDA ADMIN/Win32
/PDA ADMIN/__recovery
/Admin Server/__history
/Admin Server/Android
/Admin Server/Android64
/Admin Server/Win32
/Admin Server/__recovery

/Resources/Weapons/Card1/Cards.psd
/Resources/Карта RH.psd
/Resources/Карточки.psd
/Kassa/__history/Kassa.dpr.~1~
/Kassa/__history/Kassa.dpr.~2~
/Kassa/__history/uMainForm.fmx.~1~
/Kassa/__history/uMainForm.fmx.~2~
/Kassa/__history/uMainForm.fmx.~3~
/Kassa/__history/uMainForm.fmx.~4~
/Kassa/__history/uMainForm.fmx.~5~
/Kassa/__history/uMainForm.fmx.~6~
/Kassa/__history/uMainForm.fmx.~7~
/Kassa/__history/uMainForm.pas.~10~
/Kassa/__history/uMainForm.pas.~11~
/Kassa/__history/uMainForm.pas.~12~
/Kassa/__history/uMainForm.pas.~13~
/Kassa/__history/uMainForm.pas.~14~
/Kassa/__history/uMainForm.pas.~15~
/Kassa/__history/uMainForm.pas.~16~
/Kassa/__history/uMainForm.pas.~7~
/Kassa/__history/uMainForm.pas.~8~
/Kassa/__history/uMainForm.pas.~9~
/Kassa/Android/Debug/CompiledResources/drawable_ic_launcher_background.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable_ic_launcher_foreground.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable_ic_launcher_monochrome.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable_splash_image_def.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable_splash_vector.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable-anydpi-v21_splash_image_def.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable-anydpi-v24_ic_notification.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable-anydpi-v26_ic_launcher.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable-anydpi-v31_splash_vector.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable-anydpi-v33_ic_launcher.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable-hdpi_ic_launcher.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-hdpi_ic_notification.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-large_splash_image.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-ldpi_ic_launcher.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-mdpi_ic_launcher.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-mdpi_ic_notification.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-night-anydpi-v21_splash_vector.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable-night-anydpi-v31_splash_vector.xml.flat
/Kassa/Android/Debug/CompiledResources/drawable-normal_splash_image.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-small_splash_image.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-xhdpi_ic_launcher.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-xhdpi_ic_notification.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-xlarge_splash_image.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-xxhdpi_ic_launcher.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-xxhdpi_ic_notification.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-xxxhdpi_ic_launcher.png.flat
/Kassa/Android/Debug/CompiledResources/drawable-xxxhdpi_ic_notification.png.flat
/Kassa/Android/Debug/CompiledResources/values_colors.arsc.flat
/Kassa/Android/Debug/CompiledResources/values_strings.arsc.flat
/Kassa/Android/Debug/CompiledResources/values_styles.arsc.flat
/Kassa/Android/Debug/CompiledResources/values-night-v21_colors.arsc.flat
/Kassa/Android/Debug/CompiledResources/values-v21_styles.arsc.flat
/Kassa/Android/Debug/CompiledResources/values-v31_styles.arsc.flat
/Kassa/Android/Debug/CompiledResources/values-v35_styles.arsc.flat
/Kassa/Android/Debug/Kassa.classes/classes.dex
/Kassa/Android/Debug/Kassa.classes/classes2.dex
/Kassa/Android/Debug/Kassa/bin/Kassa.apk
/Kassa/Android/Debug/Kassa/bin/Kassa.apk.idsig
/Kassa/Android/Debug/Kassa/debug/libKassa.so
/Kassa/Android/Debug/Kassa/library/lib/armeabi/libKassa.so
/Kassa/Android/Debug/Kassa/library/lib/armeabi-v7a/libKassa.so
/Kassa/Android/Debug/Kassa/library/lib/mips/libKassa.so
/Kassa/Android/Debug/Kassa/res/drawable/ic_launcher_background.xml
/Kassa/Android/Debug/Kassa/res/drawable/ic_launcher_foreground.xml
/Kassa/Android/Debug/Kassa/res/drawable/ic_launcher_monochrome.xml
/Kassa/Android/Debug/Kassa/res/drawable/splash_image_def.xml
/Kassa/Android/Debug/Kassa/res/drawable/splash_vector.xml
/Kassa/Android/Debug/Kassa/res/drawable-anydpi-v21/splash_image_def.xml
/Kassa/Android/Debug/Kassa/res/drawable-anydpi-v24/ic_notification.xml
/Kassa/Android/Debug/Kassa/res/drawable-anydpi-v26/ic_launcher.xml
/Kassa/Android/Debug/Kassa/res/drawable-anydpi-v31/splash_vector.xml
/Kassa/Android/Debug/Kassa/res/drawable-anydpi-v33/ic_launcher.xml
/Kassa/Android/Debug/Kassa/res/drawable-hdpi/ic_launcher.png
/Kassa/Android/Debug/Kassa/res/drawable-hdpi/ic_notification.png
/Kassa/Android/Debug/Kassa/res/drawable-large/splash_image.png
/Kassa/Android/Debug/Kassa/res/drawable-ldpi/ic_launcher.png
/Kassa/Android/Debug/Kassa/res/drawable-mdpi/ic_launcher.png
/Kassa/Android/Debug/Kassa/res/drawable-mdpi/ic_notification.png
/Kassa/Android/Debug/Kassa/res/drawable-night-anydpi-v21/splash_vector.xml
/Kassa/Android/Debug/Kassa/res/drawable-night-anydpi-v31/splash_vector.xml
/Kassa/Android/Debug/Kassa/res/drawable-normal/splash_image.png
/Kassa/Android/Debug/Kassa/res/drawable-small/splash_image.png
/Kassa/Android/Debug/Kassa/res/drawable-xhdpi/ic_launcher.png
/Kassa/Android/Debug/Kassa/res/drawable-xhdpi/ic_notification.png
/Kassa/Android/Debug/Kassa/res/drawable-xlarge/splash_image.png
/Kassa/Android/Debug/Kassa/res/drawable-xxhdpi/ic_launcher.png
/Kassa/Android/Debug/Kassa/res/drawable-xxhdpi/ic_notification.png
/Kassa/Android/Debug/Kassa/res/drawable-xxxhdpi/ic_launcher.png
/Kassa/Android/Debug/Kassa/res/drawable-xxxhdpi/ic_notification.png
/Kassa/Android/Debug/Kassa/res/values/colors.xml
/Kassa/Android/Debug/Kassa/res/values/strings.xml
/Kassa/Android/Debug/Kassa/res/values/styles.xml
/Kassa/Android/Debug/Kassa/res/values-night-v21/colors.xml
/Kassa/Android/Debug/Kassa/res/values-v21/styles.xml
/Kassa/Android/Debug/Kassa/res/values-v31/styles.xml
/Kassa/Android/Debug/Kassa/res/values-v35/styles.xml
/Kassa/Android/Debug/Kassa/AndroidManifest.xml
/Kassa/Android/Debug/AndroidLibraryManifestList.txt
/Kassa/Android/Debug/AndroidManifest-merged.xml
/Kassa/Android/Debug/AndroidManifest.xml
/Kassa/Android/Debug/BuildClassesDex.stamp
/Kassa/Android/Debug/colors-night-v21.xml
/Kassa/Android/Debug/colors.xml
/Kassa/Android/Debug/CompiledResourcesList.txt
/Kassa/Android/Debug/DelphiZXIngQRCode.dcu
/Kassa/Android/Debug/DelphiZXIngQRCode.o
/Kassa/Android/Debug/DexList.txt
/Kassa/Android/Debug/DexPropertyList.txt
/Kassa/Android/Debug/ic_launcher-v33.xml
/Kassa/Android/Debug/ic_launcher.xml
/Kassa/Android/Debug/Kassa.o
/Kassa/Android/Debug/libKassa.so
/Kassa/Android/Debug/ManifestGenerationPropertyList.txt
/Kassa/Android/Debug/ManifestMergePropertyList.txt
/Kassa/Android/Debug/PackagedResources.zip
/Kassa/Android/Debug/ResourceCompilePropertyList.txt
/Kassa/Android/Debug/ResourcePackagePropertyList.txt
/Kassa/Android/Debug/splash_image_def-v21.xml
/Kassa/Android/Debug/splash_image_def.xml
/Kassa/Android/Debug/strings.xml
/Kassa/Android/Debug/styles-v21.xml
/Kassa/Android/Debug/styles-v31.xml
/Kassa/Android/Debug/styles-v35.xml
/Kassa/Android/Debug/styles.xml
/Kassa/Android/Debug/uMainForm.dcu
/Kassa/Android/Debug/uMainForm.o
/Kassa/Android64/Release/CompiledResources/drawable_ic_launcher_background.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable_ic_launcher_foreground.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable_ic_launcher_monochrome.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable_splash_image_def.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable_splash_vector.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable-anydpi-v21_splash_image_def.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable-anydpi-v24_ic_notification.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable-anydpi-v26_ic_launcher.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable-anydpi-v31_splash_vector.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable-anydpi-v33_ic_launcher.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable-hdpi_ic_launcher.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-hdpi_ic_notification.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-large_splash_image.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-ldpi_ic_launcher.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-mdpi_ic_launcher.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-mdpi_ic_notification.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-night-anydpi-v21_splash_vector.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable-night-anydpi-v31_splash_vector.xml.flat
/Kassa/Android64/Release/CompiledResources/drawable-normal_splash_image.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-small_splash_image.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-xhdpi_ic_launcher.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-xhdpi_ic_notification.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-xlarge_splash_image.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-xxhdpi_ic_launcher.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-xxhdpi_ic_notification.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-xxxhdpi_ic_launcher.png.flat
/Kassa/Android64/Release/CompiledResources/drawable-xxxhdpi_ic_notification.png.flat
/Kassa/Android64/Release/CompiledResources/values_colors.arsc.flat
/Kassa/Android64/Release/CompiledResources/values_strings.arsc.flat
/Kassa/Android64/Release/CompiledResources/values_styles.arsc.flat
/Kassa/Android64/Release/CompiledResources/values-night-v21_colors.arsc.flat
/Kassa/Android64/Release/CompiledResources/values-v21_styles.arsc.flat
/Kassa/Android64/Release/CompiledResources/values-v31_styles.arsc.flat
/Kassa/Android64/Release/CompiledResources/values-v35_styles.arsc.flat
/Kassa/Android64/Release/Kassa.classes/classes.dex
/Kassa/Android64/Release/Kassa.classes/classes2.dex
/Kassa/Android64/Release/Kassa/bin/Kassa.apk
/Kassa/Android64/Release/Kassa/bin/Kassa.apk.idsig
/Kassa/Android64/Release/Kassa/debug/libKassa.so
/Kassa/Android64/Release/Kassa/library/lib/arm64-v8a/libKassa.so
/Kassa/Android64/Release/Kassa/library/lib/armeabi/libKassa.so
/Kassa/Android64/Release/Kassa/library/lib/armeabi-v7a/libKassa.so
/Kassa/Android64/Release/Kassa/library/lib/mips/libKassa.so
/Kassa/Android64/Release/Kassa/res/drawable/ic_launcher_background.xml
/Kassa/Android64/Release/Kassa/res/drawable/ic_launcher_foreground.xml
/Kassa/Android64/Release/Kassa/res/drawable/ic_launcher_monochrome.xml
/Kassa/Android64/Release/Kassa/res/drawable/splash_image_def.xml
/Kassa/Android64/Release/Kassa/res/drawable/splash_vector.xml
/Kassa/Android64/Release/Kassa/res/drawable-anydpi-v21/splash_image_def.xml
/Kassa/Android64/Release/Kassa/res/drawable-anydpi-v24/ic_notification.xml
/Kassa/Android64/Release/Kassa/res/drawable-anydpi-v26/ic_launcher.xml
/Kassa/Android64/Release/Kassa/res/drawable-anydpi-v31/splash_vector.xml
/Kassa/Android64/Release/Kassa/res/drawable-anydpi-v33/ic_launcher.xml
/Kassa/Android64/Release/Kassa/res/drawable-hdpi/ic_launcher.png
/Kassa/Android64/Release/Kassa/res/drawable-hdpi/ic_notification.png
/Kassa/Android64/Release/Kassa/res/drawable-large/splash_image.png
/Kassa/Android64/Release/Kassa/res/drawable-ldpi/ic_launcher.png
/Kassa/Android64/Release/Kassa/res/drawable-mdpi/ic_launcher.png
/Kassa/Android64/Release/Kassa/res/drawable-mdpi/ic_notification.png
/Kassa/Android64/Release/Kassa/res/drawable-night-anydpi-v21/splash_vector.xml
/Kassa/Android64/Release/Kassa/res/drawable-night-anydpi-v31/splash_vector.xml
/Kassa/Android64/Release/Kassa/res/drawable-normal/splash_image.png
/Kassa/Android64/Release/Kassa/res/drawable-small/splash_image.png
/Kassa/Android64/Release/Kassa/res/drawable-xhdpi/ic_launcher.png
/Kassa/Android64/Release/Kassa/res/drawable-xhdpi/ic_notification.png
/Kassa/Android64/Release/Kassa/res/drawable-xlarge/splash_image.png
/Kassa/Android64/Release/Kassa/res/drawable-xxhdpi/ic_launcher.png
/Kassa/Android64/Release/Kassa/res/drawable-xxhdpi/ic_notification.png
/Kassa/Android64/Release/Kassa/res/drawable-xxxhdpi/ic_launcher.png
/Kassa/Android64/Release/Kassa/res/drawable-xxxhdpi/ic_notification.png
/Kassa/Android64/Release/Kassa/res/values/colors.xml
/Kassa/Android64/Release/Kassa/res/values/strings.xml
/Kassa/Android64/Release/Kassa/res/values/styles.xml
/Kassa/Android64/Release/Kassa/res/values-night-v21/colors.xml
/Kassa/Android64/Release/Kassa/res/values-v21/styles.xml
/Kassa/Android64/Release/Kassa/res/values-v31/styles.xml
/Kassa/Android64/Release/Kassa/res/values-v35/styles.xml
/Kassa/Android64/Release/Kassa/AndroidManifest.xml
/Kassa/Android64/Release/AndroidLibraryManifestList.txt
/Kassa/Android64/Release/AndroidManifest-merged.xml
/Kassa/Android64/Release/AndroidManifest.xml
/Kassa/Android64/Release/BuildClassesDex.stamp
/Kassa/Android64/Release/colors-night-v21.xml
/Kassa/Android64/Release/colors.xml
/Kassa/Android64/Release/CompiledResourcesList.txt
/Kassa/Android64/Release/DelphiZXIngQRCode.dcu
/Kassa/Android64/Release/DelphiZXIngQRCode.o
/Kassa/Android64/Release/DexList.txt
/Kassa/Android64/Release/DexPropertyList.txt
/Kassa/Android64/Release/ic_launcher-v33.xml
/Kassa/Android64/Release/ic_launcher.xml
/Kassa/Android64/Release/Kassa.o
/Kassa/Android64/Release/libKassa.so
/Kassa/Android64/Release/ManifestGenerationPropertyList.txt
/Kassa/Android64/Release/ManifestMergePropertyList.txt
/Kassa/Android64/Release/PackagedResources.zip
/Kassa/Android64/Release/ResourceCompilePropertyList.txt
/Kassa/Android64/Release/ResourcePackagePropertyList.txt
/Kassa/Android64/Release/splash_image_def-v21.xml
/Kassa/Android64/Release/splash_image_def.xml
/Kassa/Android64/Release/strings.xml
/Kassa/Android64/Release/styles-v21.xml
/Kassa/Android64/Release/styles-v31.xml
/Kassa/Android64/Release/styles-v35.xml
/Kassa/Android64/Release/styles.xml
/Kassa/Android64/Release/uMainForm.dcu
/Kassa/Android64/Release/uMainForm.o
/Kassa/Win32/Debug/DelphiZXIngQRCode.dcu
/Kassa/Win32/Debug/Kassa.exe
/Kassa/Win32/Debug/uMainForm.dcu
