/__history
/Android
/Android64
/Win32
/classes/__history/classes.action.pas.~1~
/classes/__history/classes.sell.pas.~1~
/classes/__history/classes.sell.pas.~2~
/classes/__history/classes.send.pas.~1~
/classes/__history/classes.send.pas.~2~
/classes/__history/classes.send.pas.~3~
/classes/__history/classes.send.pas.~4~
/classes/__history/classes.send.sell.pas.~1~
/classes/__history/classes.send.sell.pas.~2~
/classes/__history/classes.send.sell.pas.~3~
